<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
<<<<<<< HEAD
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
        <h2>tagline of bowing alley</h2>
        <p>address</p>
>>>>>>> ef03abec3e1905604daf44b9b09bf0187e48a12d
    </body>
</html>